body {
    font-family: "Source Sans Pro", sans-serif;
    width: 1596px;
}
div.page-content {
    width: 1184px;
    margin: 0 auto;
}
.site-header {
    padding: 20px;
    text-align: left;
    background: #333333;
    color: white;
    font-size: 30px;
  }


.col {
    float: left;
    flex: 1;
    text-align: center;
    margin: 25px 50px;
    border: 2px solid;
    padding: .5cm;
    width: 100%;
    flex-wrap: wrap;
}
.row{
    flex:1;
    width: 50%;
    margin-bottom: 50px;
}
aside{
    flex: 1;
    width: 100%;
    float: left;
}
main{
    float: right;
    display: flex;
    flex: 50%;
    text-align: center;
    margin: 1px;
    border: 2px solid;
    padding: .5cm;
    width: 50%;
}
article{
    flex:1;
    width:50%;
    margin-left: 70px;
    margin-right: 70px;
    padding: 50px;
}
div.article{
    display: flex;
    width: 50%;
}

img{
    width: 100%;
}
img.site-logo{
    height: 74px;
    width: 234px;
}
img {
    width: 100%;
    height: auto;
}